/*---------------------------------------------
    Página de Login
*/

body {
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Roboto', sans-serif;
}

.contenedor-grid {
    display: grid;
    grid-template-columns: auto 45%;
}

.lado-izquierdo {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('fondo-login.jpg');
    height: 100vh;
    min-height: 500px;
}

.lado-derecho {
    display: grid;
    place-items: center stretch;
}
.lado-derecho .card {
    max-width: 500px;
}

/* Medium */
@media (max-width: 768px) {
    .lado-izquierdo {        
        display: none;     
    }
    
    .lado-derecho {
        margin-top: 50px;
        grid-column: 1 / span 2;
    }
}